<div class='card'>
    <div class='card-header' style="text-align:left">
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2' >Filter by:</div>
        <div class='col-md-4'>
          <input type='text' [(ngModel)] = 'listFilter'/>
        </div>
      </div>
      <div class='row'>
        <!-- <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
        </div> -->
      </div>
      <div class='table-responsive'
      (click) = 'toggleImage()'>
        <table class='table' *ngIf ='courses && courses.length'>
          <thead>
            <tr>
              <th>Course Code</th>
              <th>Course Name</th>
              <th>Credit</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = 'let course of filteredCourses'>
              <td>{{course.courseCode | uppercase | convertToSpaces : '-'}}</td>
              <td>{{course.courseName}}</td>
              <td>{{course.credit | number:'1.1-1'}}</td>
              <td>
                <button class='btn btn-primary'> Enroll </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  