<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Login</h2>

        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Username *" id="username" />
            </div>
        </div>

        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" placeholder="Password *" id="password" />
            </div>
        </div>

      <div class="text-center">
        <button type="login" class="btn btn-primary btn-block" >Login</button>
      </div>

      <div >
        <a href="#" class="ForgetPwd">Forget Password?</a>
    </div>

    </form>
  </div>
