<div *ngIf="getIsAuthenticated()">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">{{pageTitle}}</a>
      <ul class="nav navbar-nav">
        <li><a [routerLink]= "['./welcome']">Home</a></li>
        <li><a [routerLink]= "['./logout']">Logout</a></li>
        <li><a [routerLink]= "['./courses']">Enrollment</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf="getIsAuthenticated() == false">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand">{{pageTitle}}</a>
        <ul class="nav navbar-nav">
          <li><a [routerLink]= "['./welcome']">Home</a></li>
          <li><a [routerLink]= "['./login']">Login</a></li>
          <li><a [routerLink]= "['./register']">Registration</a></li>
        </ul>
      </div>
    </div>
  
    <div class="container">
        <router-outlet></router-outlet>
    </div>
  </div>
