<div class="container">
  <form class="form-horizontal" role="form" (ngSubmit)= "saveAppUser()" #f = "ngForm" >
      <h2>Registration</h2>
      <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Name*</label>
          <div class="col-sm-9">
              <input type="text" name="name" placeholder="Name" class="form-control" [(ngModel)]="model.name" required>
          </div>
      </div>
      <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email* </label>
          <div class="col-sm-9">
              <input type="text" name="email" placeholder="Email" class="form-control" [(ngModel)]="model.email" email = "true" required>
          </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username* </label>
        <div class="col-sm-9">
            <input type="text" name="userName" placeholder="Username" class="form-control" [(ngModel)]="model.userName" required>
        </div>
    </div>
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password*</label>
          <div class="col-sm-9">
              <input type="password" name="password" placeholder="Password" class="form-control" [(ngModel)]="model.password" required minlength="6">
          </div>
      </div>
      <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
          <div class="col-sm-9">
              <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control" [(ngModel)]="model.password" required minlength="6">
          </div>
      </div>
      <div class="form-group">
          <label for="phoneNumber" class="col-sm-3 control-label">Phone number* </label>
          <div class="col-sm-9">
              <input type="text" name="phoneNumber" placeholder="Phone number" class="form-control" [(ngModel)]="model.phoneNumber" required maxlength="10">
              <span class="help-block">Your phone number won't be disclosed anywhere </span>
          </div>
      </div>
      <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
              <span class="help-block">*Required fields</span>
          </div>
      </div>
      
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="f.invalid" (click)= 'saveAppUser()'>Register</button>
    </div>
  </form>
  <!-- <pre>{{ f.value | json }}</pre> -->
</div>